<button class="close-button" mat-dialog-close>
  <i class="pi pi-times"></i>
</button>
<div class="spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="todo-list" *ngIf="!isLoading">
  <h1 class="heading primary-heading">To-do List</h1>
  <div class="add-list-group">
    <p>Add new list</p>
    <p-button icon="pi pi-plus" (onClick)="onAddNewList()"></p-button>
  </div>
  <div class="lists-wrapper">
    <p-card
      *ngFor="let list of lists"
      [header]="list.name"
      [subheader]="'Priority: ' + list.priority"
      [style]="{ margin: '20px', width: '360px' }"
    >
      <div class="tasks-wrapper" *ngFor="let task of list.tasks">
        <p>- {{ task.name }}</p>
        <div class="task-controls">
          <button><i class="pi pi-check"></i></button>
          <button><i class="pi pi-file-edit"></i></button>
          <button><i class="pi pi-trash"></i></button>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-plus" (onClick)="onAddNewTask(list)"></p-button>
        <p-button
          icon="pi pi-file-edit"
          (onClick)="onEditList(list)"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
