<div *ngIf="isLoading" class="mx-auto flex justify-content-center pt-8">
  <p-progressSpinner strokeWidth="3"></p-progressSpinner>
</div>

<div *ngIf="!isLoading" class="todo-list flex flex-column">
  <div class="surface-ground py-5 md:px-6 lg:px-7">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-teal-300 font-medium mb-3">Finished tasks</span>
              <div class="text-900 font-medium text-xl">
                {{ finishedTasks }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-green-100 border-round"
              style="width: 2.5rem; height: 2.5rem">
              <i class="pi pi-ellipsis-h text-blue-600 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3 text-teal-300">Tasks to do</span>
              <div class="text-900 font-medium text-xl">
                {{ unfinishedTasks }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-red-100 border-round"
              style="width: 2.5rem; height: 2.5rem">
              <i class="pi pi-ellipsis-h text-blue-600 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3 text-teal-300">Finished lists</span>
              <div class="text-900 font-medium text-xl">
                {{ finishedLists }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-green-100 border-round"
              style="width: 2.5rem; height: 2.5rem">
              <i class="pi pi-list text-blue-600 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block font-medium mb-3 text-teal-300">Lists to finish</span>
              <div class="text-900 font-medium text-xl">
                {{ unfinishedLists }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-red-100 border-round"
              style="width: 2.5rem; height: 2.5rem">
              <i class="pi pi-list text-blue-600 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-button
    styleClass="p-button-success"
    label="Add new list"
    class="align-self-center mb-6"
    icon="pi pi-plus"
    (onClick)="onAddNewList()"></p-button>
  <div class="md:px:7 lg:px-8 pb-5" *ngIf="todoLists.length">
    <div class="surface-50 p-2 md:p-4 border-round">
      <p class="text-5xl text-blue-300 mb-5 text-center font-light">To-do lists</p>

      <div class="flex w-full relative align-items-center justify-content-center mb-5">
        <div class="border-top-1 border-300 left-0 absolute w-full"></div>
      </div>

      <div style="min-height: 20rem" class="list-container">
        <div
          class="surface-card p-2 shadow-2 border-round list-card mr-5 mb-5"
          *ngFor="let list of todoLists">
          <div class="surface-border border-round p-3">
            <p class="text-2xl text-center mb-1 text-teal-300">{{ list.name }}</p>
            <p class="text-base text-center text-600">Priority: {{ list.priority }}</p>
          </div>
          <div class="surface-border border-round p-3" style="min-height: 20rem">
            <div
              class="task-container"
              [ngStyle]="{ opacity: task.checked ? '30%' : '100%' }"
              *ngFor="let task of list.tasks">
              <p
                class="text-lg task"
                [ngClass]="task.checked ? 'text-300' : 'text-green-200'"
                [ngStyle]="{
                  'text-decoration': task.checked ? 'line-through' : 'none'
                }">
                {{ task.name }}
              </p>

              <p-splitButton
                class="ml-5"
                styleClass="p-button-sm p-button-info"
                label="Done"
                icon="pi pi-check"
                [model]="splitTaskButtonItems"
                (onDropdownClick)="setListAndTask(list, task)"
                (onClick)="onCheckTask(list, task.id)"></p-splitButton>
            </div>
          </div>
          <div
            class="card-footer surface-border border-round mt-3 p-2 flex justify-content-between">
            <p-button
              label="Add new task"
              icon="pi pi-plus"
              class="mb-3 md:mb-0"
              styleClass="p-button-success"
              (onClick)="onAddNewTask(list)"></p-button>
            <p-button
              label="Edit list"
              icon="pi pi-cog"
              styleClass="p-button-secondary"
              (onClick)="onEditList(list)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
