@import 'mixins';

.side-menu {
  position: fixed;
  right: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-side-menu);
  box-shadow: 15px 0 20px var(--color-primary);
  transition: all 0.3s ease-in;

  @include mobile() {
    box-shadow: none;
  }

  .menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;

    .menu-navigation {
      display: flex;
      flex-direction: column;

      .hamburger-button,
      .close-button {
        color: var(--color-side-menu-icon);
        background-color: transparent;
        border: none;
        font-size: 3.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in;
        align-self: flex-start;
        margin-bottom: 2rem;
        padding: 3rem 3rem;

        &:hover {
          color: var(--color-white);
        }
      }

      .navigation-link {
        color: var(--color-primary);
        font-size: 2.5rem;
        transition: all 0.3s ease-in;
        font-family: 'Odibee Sans', cursive;
        letter-spacing: 1px;
        border-radius: 5px;
        padding-right: 1rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:hover {
          color: var(--color-secondary);
        }

        &--active {
          color: var(--color-white);
          background-color: var(--color-danger);

          &:hover {
            color: var(--color-side-menu);
          }
        }

        i {
          padding: 1rem;
        }
      }
    }

    .hide-side-menu-button {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      color: var(--color-side-menu-icon);
      background-color: transparent;
      border: none;
      font-size: 1.6rem;
      transition: all 0.3s ease-in;
      cursor: pointer;

      &:hover {
        color: var(--color-white);
      }

      @include mobile() {
        display: none;
      }

      i {
        margin-right: 0.5rem;
      }
    }
  }
}

.show-side-menu-button {
  position: fixed;
  right: 1.5rem;
  top: 50%;
  color: var(--color-side-menu-icon);
  background-color: transparent;
  border: none;
  font-size: 3rem;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }

  @include mobile() {
    display: none;
  }

  i {
    border-radius: 50rem;
    box-shadow: 0 0 10px var(--color-secondary);
  }
}
