@import 'mixins';

.side-menu {
  position: fixed;
  right: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-side-menu);
  transition: all 0.3s ease-in;

  .menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;

    .menu-navigation {
      display: flex;
      flex-direction: column;
      padding: 30px;

      .close-button {
        color: var(--color-side-menu-icon);
        background-color: transparent;
        border: none;
        font-size: 35px;
        cursor: pointer;
        transition: all 0.3s ease-in;
        align-self: flex-start;
        margin-bottom: 20px;

        &:hover {
          color: var(--color-white);
        }
      }

      .navigation-link {
        padding: 1rem;
        color: var(--color-primary);
        font-size: 25px;
        transition: all 0.3s ease-in;
        font-family: 'Odibee Sans', cursive;
        letter-spacing: 1px;
        border-radius: 5px;
        padding-right: 10px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &--active {
          color: var(--color-white);
          background-color: var(--color-side-menu-icon);
        }

        i {
          margin-right: 1rem;
          color: var(--color-white);
        }
      }
    }

    .hide-side-menu-button {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: var(--color-side-menu-icon);
      background-color: transparent;
      border: none;
      font-size: 16px;
      transition: all 0.3s ease-in;
      cursor: pointer;

      &:hover {
        color: var(--color-white);
      }

      @include mobile() {
        display: none;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.show-side-menu-button {
  position: fixed;
  right: 15px;
  top: 50%;
  color: var(--color-side-menu-icon);
  background-color: transparent;
  border: none;
  font-size: 30px;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }

  @include mobile() {
    display: none;
  }

  i {
    border-radius: 500px;
    box-shadow: 0 0 10px var(--color-secondary);
  }
}
