<div
  class="side-menu"
  *ngIf="isMobileView"
  [ngStyle]="{ right: isOpen ? '0' : '-100%' }"
>
  <div class="menu-container">
    <nav class="menu-navigation">
      <button class="close-button" (click)="closeSideMenu()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <a
        class="navigation-link"
        routerLink="home"
        routerLinkActive="navigation-link--active"
        ><i class="fa-solid fa-house fa-fw"></i
        ><span [@fadeInAndOutAnimation] *ngIf="isOpen">Home</span></a
      >
      <a
        class="navigation-link"
        routerLink="works"
        routerLinkActive="navigation-link--active"
        ><i class="fa-solid fa-layer-group fa-fw"></i
        ><span [@fadeInAndOutAnimation] *ngIf="isOpen">Works</span></a
      >
      <a
        class="navigation-link"
        routerLink="blog"
        routerLinkActive="navigation-link--active"
        ><i class="fa-solid fa-comment fa-fw"></i
        ><span [@fadeInAndOutAnimation] *ngIf="isOpen">Blog</span></a
      >
      <a
        class="navigation-link"
        routerLink="contact"
        routerLinkActive="navigation-link--active"
        ><i class="fa-solid fa-envelope fa-fw"></i
        ><span [@fadeInAndOutAnimation] *ngIf="isOpen">Contact</span></a
      >
    </nav>
  </div>
</div>
