<div class="side-menu"
  [ngStyle]="{ 'width': isOpen ? ( isMobileView ? 'calc(100vw + 9rem)' : '25rem' ) : '9rem', 'right': ( isMobileView ? '-9rem' : isHidden ? ( isOpen ? '-34rem' : '-9rem' ) : '0' )  }">
  <div class="menu-container">
    <button class="hamburger-button" *ngIf="!isOpen" (click)="openSideMenu()"><i class="fa-solid fa-bars"></i></button>
    <button class="close-button" *ngIf="isOpen" (click)="closeSideMenu()"><i class="fa-solid fa-xmark"></i></button>
    <nav class="menu-navigation">
    </nav>
    <button class="hide-side-menu-button" (click)="hideSideMenu()">Hide Side Menu</button>
  </div>
</div>
<button class="show-side-menu-button" *ngIf="isHidden" (click)="showSideMenu()">Show Side Menu</button>