<div class="user-tracking">
  <div
    class="surface-card mt-8 p-4 shadow-2 mx-auto border-round w-full lg:w-6"
    *ngIf="!isLoggedIn">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
      <p class="text-300">You can enter anything</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email1" class="block text-900 font-medium mb-2">Username</label>
      <input id="email1" type="text" pInputText class="w-full mb-3" formControlName="username" />

      <label for="password1" class="block text-900 font-medium mb-2">Password</label>
      <input
        id="password1"
        type="password"
        pInputText
        class="w-full mb-3"
        formControlName="password" />

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberme"
            [binary]="true"
            styleClass="mr-2"
            formControlName="rememberMe"></p-checkbox>
          <label for="rememberme">Remember me</label>
        </div>
      </div>
      <button
        pButton
        pRipple
        label="Sign In"
        icon="pi pi-user"
        class="w-full"
        type="submit"></button>
    </form>
  </div>
  <portfolio-admin-dashboard
    [loggedInUser]="loggedInUser"
    [users]="users"
    *ngIf="isLoggedIn"></portfolio-admin-dashboard>
</div>
