.footer {
  width: 100%;
  background: var(--color-side-menu);
  padding: 3rem 0;
  box-shadow: 0 15px 20px var(--color-primary);

  .links {
    text-align: center;

    a {
      font-size: 3rem;
      color: var(--color-side-menu-icon);
      transition: all 0.3s ease-in;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        color: var(--color-white);
      }
    }
  }

  .copyright {
    display: block;
    margin-top: 1.5rem;
    color: var(--color-white);
    font-size: 1.4rem;
    font-family: "Odibee Sans", cursive;
    text-align: center;
    color: var(--color-side-menu-icon);
    transition: all 0.3s ease-in;

    &:hover {
      color: var(--color-white);
    }

    i {
      margin: 0 0.5rem;
      color: var(--color-primary);
    }
  }
}
