<div class="surface-card shadow-2 border-round w-full md:w-6 p-4 mx-auto">
  <div class="flex justify-content-between align-items-center mb-5">
    <span class="text-xl text-900 font-medium">User database</span>
  </div>
  <ul class="list-none p-0 m-0">
    <li
      class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-6"
      *ngFor="let user of users">
      <div class="flex">
        <i class="mb-3 bg-green-300 text-100 pi pi-user avatar"></i>
        <div class="mr-0 md:mr-8">
          <span class="block text-900 font-medium mb-1">{{ user.name }}</span>
          <div class="text-600">{{ user.company.name }}</div>
        </div>
      </div>
      <div class="mt-2 md:mt-0 flex flex-nowrap">
        <button
          pButton
          pRipple
          type="button"
          label="Info"
          class="flex-auto mr-2 p-button-outlined p-button-plain border-green-500"
          style="border-radius: 30px"
          (click)="onUserInfo(user)"></button>
        <button
          pButton
          pRipple
          type="button"
          label="Edit"
          class="flex-auto ml-2 p-button-outlined p-button-plain border-green-500"
          style="border-radius: 30px"
          (click)="onUserEdit(user)"></button>
      </div>
    </li>
  </ul>
</div>
