<div class="add-list">
  <h2>Add new list</h2>

  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
    <input
      type="text"
      pInputText
      placeholder="List name"
      [(ngModel)]="newListName"
    />
  </div>

  <div class="priority-wrapper">
    <label>Priority</label>
    <p-dropdown
      [style]="{ marginBottom: '2rem' }"
      [options]="priorities"
      [(ngModel)]="selectedPriority"
      optionLabel="name"
      optionGroupLabe="Priority"
      [showTransitionOptions]="'100ms'"
    ></p-dropdown>
  </div>
  <p-button
    label="Add new list"
    icon="pi pi-plus"
    (onClick)="onAddNewList()"
  ></p-button>
</div>
