@import 'mixins';

.app-layout {
  background-color: var(--color-background);

  .app-content {
    min-height: 100vh;
    padding: 0 7rem;

    @include mobile() {
      padding: 0 2rem;
    }
  }
}
