<div *ngIf="!isLoading && !isMessageSent" class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6">
      <form class="p-fluid pr-0 md:pr-6" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="name" class="font-medium text-teal-300">Name</label>
          <input
            id="name"
            type="text"
            pInputText
            class="py-3 px-2 text-lg"
            formControlName="name" />
          <p
            class="text-red-400"
            *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched">
            This field is required.
          </p>
        </div>
        <div class="field">
          <label for="email" class="font-medium text-teal-300">Email</label>
          <input
            id="email"
            type="text"
            pInputText
            class="py-3 px-2 text-lg"
            formControlName="email" />
          <p
            class="text-red-400"
            *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">
            This field is required.
          </p>
        </div>
        <div class="field">
          <label for="subject" class="font-medium text-teal-300">Subject</label>
          <input
            id="subject"
            type="text"
            pInputText
            class="py-3 px-2 text-lg"
            formControlName="subject" />
          <p
            class="text-red-400"
            *ngIf="!contactForm.get('subject').valid && contactForm.get('subject').touched">
            This field is required.
          </p>
        </div>
        <div class="field">
          <label for="message" class="font-medium text-teal-300">Message</label>
          <textarea
            id="message"
            pInputTextarea
            rows="6"
            [autoResize]="true"
            class="py-3 px-2 text-lg"
            formControlName="message"></textarea>
          <p
            class="text-red-400"
            *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched">
            This field is required.
          </p>
        </div>
        <button pButton pRipple label="Send Message" icon="pi pi-send" class="w-auto"></button>
      </form>
    </div>
    <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom">
      <div class="text-900 text-2xl font-medium mb-6 text-blue-300">Contact Me</div>
      <div class="text-700 line-height-3 mb-6">
        Drop me a message. I would like to hear from you.
      </div>
      <img
        class="message-illustration w-15rem"
        src="../../../assets/images/contact-message.svg"
        alt="Message illustration" />
    </div>
  </div>
</div>
<p-progressSpinner *ngIf="isLoading && !isMessageSent"></p-progressSpinner>
<div *ngIf="isMessageSent" class="message-sent mt-8">
  <h1 class="text-teal-300 mb-3">Thank you for your message.</h1>
  <h3 class="text-blue-300 mb-8">I will reply as soon as I can.</h3>
  <img
    class="message-illustration w-15rem"
    src="../../../assets/images/contact-message.svg"
    alt="Message illustration" />
</div>
