@import 'mixins';

.contact {
  display: flex;
  width: 70%;
  padding: 30px;
  margin: 50px auto 0;
  background-color: var(--color-tertiary);
  border-radius: 5px;

  @include mobile {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 50px auto 100px;
  }

  .header {
    width: 50%;
    padding-right: 80px;

    @include mobile {
      width: 100%;
      padding: 0;
      margin-bottom: 50px;
    }

    &__heading {
      font-family: 'Odibee Sans', cursive;
      font-weight: 400;
      font-size: 35px;

      span {
        color: var(--color-primary);
      }

      @include mobile {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    &__illustration {
      width: 60%;
      margin: 50px auto 0;
    }
  }

  .form__container {
    width: 50%;

    @include mobile {
      width: 100%;
      text-align: center;
    }

    .form {
      .form-heading {
        margin-bottom: 10px;
      }
      .form-textarea {
        margin-bottom: 20px;
      }
    }
  }
}
