<div class="surface-ground px-4 pt-2 md:px-5 lg:px-6">
  <div
    class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 surface-border">
    <div class="mb-3 lg:mb-0">
      <div class="flex align-items-center mb-2">
        <i class="pi pi-folder text-2xl mr-3 text-500"></i>
        <span class="text-3xl font-medium text-900">Works</span>
      </div>
      <div class="text-teal-300 mr-0 md:mr-3">
        I will post all my work here with the git repository, a brief description, and the
        technologies I used.
      </div>
    </div>
  </div>
</div>
<div class="works-container md:p-6 lg:p-7 mx-auto">
  <p-card
    [header]="project.projectName"
    class="work-card"
    styleClass="w-20rem h-18rem text-blue-500"
    *ngFor="let project of workData">
    <p class="text-800 h-4rem">
      {{ project.projectDescription }}
    </p>
    <div class="technologies mt-4">
      <p-chip
        [label]="technology"
        class="mr-2"
        styleClass="text-teal-300"
        *ngFor="let technology of project.projectTechnologies"></p-chip>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        (onClick)="onNavigate(project.projectDemoUrl)"
        label="Demo"
        icon="pi pi-desktop"></p-button>
      <p-button
        label="Code"
        icon="pi pi-github"
        styleClass="ml-5"
        (onClick)="onNavigate(project.projectCodeUrl)"></p-button>
    </ng-template>
  </p-card>
</div>
