<header class="header">
  <a aria-label="Logo, Home link" class="logo" routerLink="home"
    ><i class="fa-solid fa-code"></i>KNB<span>.</span>
  </a>
  <nav class="navigation">
    <a
      class="navigation__link"
      routerLink="/home"
      routerLinkActive="navigation__link--active"
      ><i class="fa-solid fa-house"></i>Home</a
    >
    <a
      class="navigation__link"
      routerLink="/works"
      routerLinkActive="navigation__link--active"
      ><i class="fa-solid fa-layer-group"></i>Works</a
    >
    <a
      class="navigation__link"
      routerLink="/blog"
      routerLinkActive="navigation__link--active"
      ><i class="fa-solid fa-comment"></i>Blog</a
    >
    <a
      class="navigation__link"
      routerLink="/contact"
      routerLinkActive="navigation__link--active"
      ><i class="fa-solid fa-envelope"></i>Contact</a
    >
  </nav>
  <button class="hamburger-button" (click)="onOpenSideMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>
</header>
