<header class="header">
  <p [attr.aria-label]="logo.innerText + 'Logo'" class="logo" #logo>KNB<span>.</span></p>
  <nav *ngIf="!isMobileView" class="navigation">
    <a aria-label="Download CV" href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"><i
        class="fa-regular fa-file"></i>CV</a>
    <a href=""><i class="fa-regular fa-user"></i>About me</a>
    <a href=""><i class="fa-regular fa-address-card"></i>Contact</a>
  </nav>
  <button class="hamburger-button" *ngIf="isMobileView"><i class="fa-solid fa-bars"></i></button>
</header>