<div class="home">
  <div class="header">
    <div class="header__container">
      <h3 class="header__heading">This is</h3>
      <h1 class="header__name">Keresztes<span>-</span>Nagy Bence</h1>
      <h2 class="header__title">FrontEnd Developer<span>.</span></h2>
      <a class="header__link" (click)="scrollToElement(aboutMe)"
        ><i class="fa-solid fa-user"></i>About me</a
      >
      <a class="header__link" routerLink="/contact"
        ><i class="fa-solid fa-envelope"></i>Contact</a
      >
      <a
        class="header__cv-button button-primary"
        href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"
        ><i class="fa-solid fa-file"></i>Download Resume</a
      >
    </div>
    <img
      class="header__illustration"
      src="../../../assets/landing-illustration-01.svg"
      alt="Computer illustration"
    />
  </div>

  <div class="details" #aboutMe>
    <div class="details__card">
      <img
        class="details__card__illustration"
        src="../../../assets/about-me.svg"
        alt="About me illustration"
      />
      <div class="details__card__content">
        <h3 class="details__card__heading">About <span>me</span></h3>
        <p class="details__card__description">
          Enthusiastic self-taught Frontend Developer, learning to code and
          practicing in my spare time, seeking an entry-level position to use my
          skills in coding.
        </p>
        <a
          href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"
          class="details__card__button button-primary"
          ><i class="fa-solid fa-file"></i>Download Resume</a
        >
      </div>
    </div>
    <div class="details__card">
      <div class="details__card__content">
        <h3 class="details__card__heading">Skills</h3>
        <p class="details__card__description">
          Technologies I learned and worked with so far.
        </p>
        <div class="details__card__icon-wrapper">
          <div class="details__card__icon">
            <i class="fa-brands fa-html5 fa-fw"></i>
            <p>HTML5</p>
          </div>
          <div class="details__card__icon">
            <i class="fa-brands fa-css3-alt fa-fw"></i>
            <p>CSS3</p>
          </div>
          <div class="details__card__icon">
            <i class="fa-brands fa-sass fa-fw"></i>
            <p>SASS</p>
          </div>
          <div class="details__card__icon">
            <i class="fa-brands fa-square-js fa-fw"></i>
            <p>JavaScript</p>
          </div>
          <div class="details__card__icon">
            <i class="fa-brands fa-angular fa-fw"></i>
            <p>Angular</p>
          </div>
          <div class="details__card__icon">
            <i class="fa-brands fa-git fa-fw"></i>
            <p>Git</p>
          </div>
          <div class="details__card__icon">
            <i class="fa-brands fa-github fa-fw"></i>
            <p>GitHub</p>
          </div>
        </div>
      </div>
      <img
        class="details__card__illustration"
        src="../../../assets/skills.svg"
        alt="Skills illustration"
      />
    </div>
    <div class="details__card">
      <img
        class="details__card__illustration"
        src="../../../assets/projects.svg"
        alt="About me illustration"
      />
      <div class="details__card__content">
        <h3 class="details__card__heading">Works</h3>
        <p class="details__card__description">
          I enjoy creating things that live on the internet.
        </p>
        <a routerLink="/works" class="details__card__button button-primary"
          ><i class="fa-solid fa-layer-group"></i>Works</a
        >
      </div>
    </div>
  </div>
  <a class="scroll" (click)="scrollToElement(aboutMe)">
    <i class="fa-solid fa-arrow-down-long"></i>Scroll
  </a>
</div>
