<div class="home">
  <div class="header">
    <div class="header__container">
      <p class="header__this-is text-teal-300">This is</p>
      <h1 class="header__my-name">
        Keresztes<span class="text-teal-300">-</span>Nagy Bence
      </h1>
      <h2
        class="header__profession text-blue-400"
        [ngStyle]="{ 'border-bottom': '1px solid var(--blue-400)' }"
      >
        FrontEnd Developer
      </h2>
      <a
        class="header__link text-900 hover:text-700"
        (click)="scrollToElement(aboutMe)"
      >
        <i class="pi pi-user text-teal-300"></i> About me</a
      >
      <a class="header__link text-900 hover:text-700" routerLink="/contact"
        ><i class="pi pi-envelope text-teal-300"></i>Contact</a
      >

      <a
        download
        href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"
        pButton
        type="button"
        icon="pi pi-file"
        label="Download Resume"
        [ngStyle]="{
          background: 'var(--teal-300)',
          border: 'none',
          'margin-top': '10px'
        }"
      ></a>
    </div>
    <img
      class="header__illustration"
      src="../../../assets/landing-illustration-01.svg"
      alt="Computer illustration"
    />
  </div>

  <div class="details" #aboutMe>
    <div class="card">
      <img
        class="card__illustration"
        src="../../../assets/about-me.svg"
        alt="About me illustration"
      />
      <div class="card__content">
        <h3 class="card__title text-blue-400">
          About <span class="text-900">me</span>
        </h3>
        <p class="card__description">
          I started my coding journey back in 2021 on Udemy. I'm an enthusiastic
          self-taught front-end developer, learning to code and practice in my
          spare time. I'm from Hungary but I lived in the UK for nearly 10
          years. I'm seeking an entry-level position to use my skills in coding.
        </p>
        <a
          download
          href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"
          pButton
          type="button"
          icon="pi pi-file"
          label="Download Resume"
          [ngStyle]="{
            background: 'var(--teal-300)',
            border: 'none'
          }"
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__title text-900">Skills</h3>
        <p class="card__description">
          Technologies I learned and worked with so far. But in the future, I'm
          planning to learn NodeJS, Express, and MongoDB.
        </p>
        <div class="card__icon-wrapper">
          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-html5 fa-fw"></i>
            <p class="text-900">HTML5</p>
          </div>
          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-css3-alt fa-fw"></i>
            <p class="text-900">CSS3</p>
          </div>
          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-sass fa-fw"></i>
            <p class="text-900">SASS</p>
          </div>
          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-square-js fa-fw"></i>
            <p class="text-900">JavaScript</p>
          </div>
          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-angular fa-fw"></i>
            <p class="text-900">Angular</p>
          </div>
          <div class="card__icon text-teal-300">
            <img src="../../../assets/icons/rxjs.svg" />
            <p class="text-900">RxJs</p>
          </div>
          <div class="card__icon text-teal-300">
            <img src="../../../assets/icons/ngrx.svg" />
            <p class="text-900">NgRx</p>
          </div>

          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-git fa-fw"></i>
            <p class="text-900">Git</p>
          </div>
          <div class="card__icon text-teal-300">
            <i class="fa-brands fa-github fa-fw"></i>
            <p class="text-900">GitHub</p>
          </div>
        </div>
      </div>
      <img
        class="card__illustration"
        src="../../../assets/skills.svg"
        alt="Skills illustration"
      />
    </div>
    <div class="card">
      <img
        class="card__illustration"
        src="../../../assets/projects.svg"
        alt="About me illustration"
      />
      <div class="card__content">
        <h3 class="card__title text-900">Works</h3>
        <p class="card__description">
          I love creating things that live on the internet. Especially if it's
          working. :)
        </p>
        <a
          routerLink="/works"
          pButton
          type="button"
          icon="pi pi-folder"
          label="Works"
          [ngStyle]="{
            background: 'var(--teal-300)',
            border: 'none'
          }"
        ></a>
      </div>
    </div>
  </div>
  <a class="scroll" (click)="scrollToElement(aboutMe)">
    <i class="fa-solid fa-arrow-down-long"></i>Scroll
  </a>
</div>
