@import 'mixins';

.button-primary {
  padding: 1.5rem 3rem;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
  }

  i {
    margin-right: 5px;
  }
}
