:root {
  --color-background: #011627;
  --color-white: #fff;
  --color-primary: #41ead4;
  --color-secondary: #00c9e0;
  --color-tertiary: #133149;

  // SideNavigation colors
  --color-sidenav-dark: #1c1d22;
  --color-sidenav-icon: rgba(255, 255, 255, 0.5);
}
