:root {
  --color-background: #011627;
  --color-white: #fff;
  --color-primary: #41ead4;
  --color-secondary: #00c9e0;
  --color-tertiary: #133149;

  --color-danger: #e93e32;

  // SideNavigation colors
  --color-side-menu: #1c1d22;
  --color-side-menu-icon: rgba(255, 255, 255, 0.5);
}
