.works-custom-modal {
  height: 100vh;
  min-width: 100vw;

  .mat-dialog-container {
    padding: 0;
    background-color: var(--color-grey-light);
  }
}

.todo-list-action-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 30px;
  }

  .priority-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;

    label {
      margin-bottom: 10px;
    }
  }
}
