@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
// font-family: 'Notable', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
// font-family: 'Odibee Sans', cursive;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');
// font-family: 'Source Code Pro', monospace;

@import 'mixins';

html {
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  @include mobile {
    font-size: 9px;
  }
}
