@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
// font-family: 'Odibee Sans', cursive;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');
// font-family: 'Source Code Pro', monospace;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
// font-family: 'Open Sans', sans-serif;

@import 'mixins';
:root {
  --font-famly: 'Roboto', sans-serif;
}

body {
  color: var(--color-white);
  font-family: var(--font-famly);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: 300;
}
