@import 'mixins';

.button-primary {
  padding: 15px 30px;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
  }

  i {
    margin-right: 5px;
  }
}

.close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  i {
    font-size: 24px;
  }
}
